<!--

    //

-->
<table class="table table-striped">
    <tbody>
        <tr>
            <td class="text-center">
                <button type="button" 
                        class="btn btn-primary"
                        (click)="btnChuck_dame_un_mensaje()">
                        Chuck, dame un mensaje </button>
            </td>
            
        </tr>
        <tr>
            <td>
                <div    class="alert alert-success"
                        role="alert">{{ mensaje_de_chuck }}</div>
                </td>
        </tr>
    </tbody>
</table>